<h2>ToDo</h2>

<form [formGroup]="taskForm" #taskFormRef="ngForm" (ngSubmit)="addTaskToList()">

  Task:
  <input type="text" placeholder="Enter your task" formControlName="taskName">
  <br>

  Date:
  <input type="date" placeholder="Due date" formControlName="dueDate">
  <br>

  <button type="submit" [disabled]="taskFormRef.invalid">Add</button>

  <br><hr><br>

  <div formArrayName="taskList">
    <div *ngFor="let c of taskForm.get('taskList').controls; let i = index;"
        [formGroupName]="i">
          Task:
          <input type="text" placeholder="Enter your task" formControlName="task" readonly>
          <br>

          Date:
          <input type="date" placeholder="Due date" formControlName="ddate" [readonly]="false">
          <br>
    </div>

    <button type="button" (click)="dumpTaskList()">Dump</button>

  </div>

</form>
